body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.heading h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input button {
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center; /* Vertically center items */
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.delete-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: auto;
}   

.check-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.task-text {
    flex-grow: 1; 
    margin: 0 10px; 
    
}

.completed {
    text-decoration: line-through; /* Strikethrough */
    color: #888; /* Grayed-out text */
    opacity: 0.7; /* Make the task look faded */
    margin-right: auto;
}